{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block body %}
{#    <input id="register_submit" type="button" class="btn btn-lg btn-primary">#}
{#                    Submit#}
{#    </input>#}
    <div id ="register_div">
{#          <form action="" class="register_form" method="post">#}
{#              {% csrf_token %}#}
{#              <div class="form-group">#}
{#                <div  class="form-control" id="inputSubject" >#}
{#                <label class="sr-only" for={{ form.email.id_for_label }}>Subject:</label>#}
{#                {{ form.email }}#}
{#                </div>#}
{#              </div>#}
{#            <input id="register_submit" type="button" class="btn btn-lg btn-primary">#}
{#                Submit#}
{#            </input>#}
{#          </form>#}
    </div>
{% endblock %}
